#navbar1{
    background-color:rgb(243,122,33);
}

#container{
    display: flex;
    align-items: center;
    justify-content: center;

}
#header-container{
    font-size: 20px;
    font-weight: 4000;

}
#header-container:hover{
    color: black;
}
#section1{
   
    height: 49%;
   width: 100%;


}
#section1 img{
    width: 100%;
    height: 100%;
}
#section2{
    height: 49%;
    width: 100%;
}
#section2 img{
    width: 100%;
    height: 100%;
}
#section3{
    height: 49%;
    width: 100%;
}
#section3 img{
    width: 100%;
    height: 100%;
}
#section4{
    height: 49%;
    width: 100%;
    background-color: white;
}
#section4 img{
    width: 75%;
    height: 75%;
    }
    #section4-container{
        min-height: 100vh;
        width:100%;
    }
    #slide {
         position: absolute;
        right: -100px;
        width: 100px;
        height: 100px;
        background: blue;
        -webkit-animation: slide 0.6s forwards;
        -webkit-animation-delay: 3s;
        animation: slide 0.6s forwards;
        animation-delay: 2s;
    }
    
    @-webkit-keyframes slide {
        100% { right: 0; }
    }
    
    @keyframes slide {
        100% { right: 0; }
    }
    #section-container2{
        height:50px;
    }
    body {
        margin: 10px;
        font-family: 'Poppins', Arial, Helvetica, sans-serif;
       
        display: flex;
        flex-direction: column;
      }
    
    .auto-slider{
        position: relative;
        box-sizing: content-box;
        display: inline-block;
        padding: 10px 10px 20px;
        background: #121;
        max-width: 720px;
        margin: 20px auto;
        overflow: hidden;
        border-radius: 4px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
     
    }
    
    
    div#slider { overflow: hidden; }
    div#slider figure img { width: 20%; float: left;height:500px }
    div#slider figure { 
      position: relative;
      width: 500%;
      margin: 0;
      left: 0;
      text-align: left;
      font-size: 0;
      animation: 45s sliding ease infinite; 
    }
    
    /* Slider indicator */
    .indicator{
        width: 100%;
        max-width: 720px;
        height: 6px;
       
        position: absolute;
        bottom: 0;
        
        animation: indicating 6s ease infinite; 
        
    }
    
    
    @keyframes sliding{
        0%{left: 0%; }
        20%{left: -100%;}
        40%{left: -200%;}
        60%{left: -300%;}
        80%{left: -400%;}
        100%{left: 0%;}
    }        
    
    @keyframes indicating{
        from{
            left: -100%;
        }
        to{
            left: 0;
        }
    }  
    .credit{
        text-align: center;
        color: #000;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
    
    .credit a{
        text-decoration: none;
        color:#000;
        font-weight: bold;
    }  

